@mainColor: #2AACF7;
@secondaryFontColor: #FFF;
//@mainColor: #84C547;
//@secondaryFontColor: #F15C62;
//@mainColor: #EA5DA1;
//@secondaryFontColor: #D1DA5D;
//@mainColor: #C7C8CA;
//@secondaryFontColor: #C80116;
//@mainColor: #494060;
//@secondaryFontColor: #7DC24F;
@mainColorRGBa: rgba(42, 172, 247, 0.6);
@mainFontColor: #000;

@import "../styles";